{% extends "index.html" %}

{% block footer %}
<div class="container mb-4">
    <div class="input-group-prepend3">
        <div id="footer">
            <h4>原图&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                处理图</h4>
            <span style="display: inline-block; width: 400px;">
                <img class="img1" src="{{ url_for('static', filename='./images/%s' % src_name, _t=val1) }}" alt="你的图片被外星人劫持了～～" style="width: 100%;" border="3"/>
            </span>
            <span style="display: inline-block; width: 400px;">
                <img class="img1" src="{{ url_for('static', filename='./images/%s' % dst_name, _t=val1) }}" alt="你的图片被外星人劫持了～～" style="width: 100%;" border="3"/>
            </span>
        </div>
    </div>
</div>
{% endblock %}